@model IEnumerable<Opticar.Models.Optics.LenseType>

@{
    ViewBag.Title = "Index";
}

<h2>Pregled tipova sočiva</h2>

<p>
    @Html.ActionLink(Resources.Global.CreateNew, "Create")
</p>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th></th>
    </tr>
    </thead>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            @Html.ActionLink(Resources.Global.Edit, "Edit", new { id=item.LenseTypeId }) |
            @Html.ActionLink(Resources.Global.Details, "Details", new { id=item.LenseTypeId }) |
            @Html.ActionLink(Resources.Global.Delete, "Delete", new { id=item.LenseTypeId })
        </td>
    </tr>
}

</table>
