@model Opticar.Models.ViewModels.MaterialViewModel

@{
    ViewBag.Title = "Create";
}

    <h2>Create</h2>

<div class="well bs-component">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <form class="form-horizontal">
            <fieldset>
                <legend>Material</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-lg-2" })
                    <div class="col-lg-10">
                        @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                        <span class="help-block">Tip precnika Zole</span>
                        @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaterialTypes, htmlAttributes: new { @class = "control-label col-lg-2" })
                    <div class="col-lg-10">
                        @Html.DropDownListFor(model => model.MaterialTypeId, Model.MaterialTypes, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <p>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </p>
                    </div>
                </div>
            </fieldset>
        </form>

    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

