@model Opticar.Models.ViewModels.MaterialViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Dodavanje novih materijala</h2>
<p>
   Dodavanje materijala 
</p>



    @using (Html.BeginForm("Create", "Materials", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
    <div class="card">
        <h3 class="card-header">Material</h3>
              
                <div class="form-group">
                    @Html.LabelFor(model => model.MaterialTypes, htmlAttributes: new { @class = "control-label col-lg-2" })
                    <div class="col-lg-10">
                        @Html.DropDownListFor(model => model.MaterialTypeId, Model.MaterialTypes, "Select One", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaterialTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-lg-2" })
                    <div class="col-lg-10">
                        @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                        <span class="help-block">Tip precnika Zole</span>
                        @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <p>
                        <button type="submit" class="btn btn-primary">@Resources.Global.Commit</button>
                        </p>
                    </div>
                </div>
            </div>


    }

    <div>
        @Html.ActionLink(Resources.Global.BackToList, "Index")
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

