@model Opticar.Models.ViewModels.MaterialViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalji</h2>

<div class="row">
    <div class="col-lg-4">
        <div class="card">
           <h3 class="card-header">Material</h3>
            
            <div class="card-block">
                <div>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <td><h6>@Html.DisplayNameFor(m => m.MaterialId):</h6></td>
                                <td>@Html.DisplayFor(m => m.SelectedText)</td>
                            </tr>
                            <tr>
                                <td><h6>@Html.DisplayNameFor(m => m.Value):</h6></td>
                                <td>@Html.DisplayFor(m => m.Value)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink(Resources.Global.Edit, "Edit", new { id = Model.MaterialId }) |
    @Html.ActionLink(Resources.Global.BackToList, "Index")
</div>
