@model Opticar.Models.ViewModels.MaterialViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalji</h2>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Material</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-2">@Html.DisplayNameFor(m => m.MaterialId)</div>
                <div class="col-lg-10">@Html.DisplayFor(m => m.SelectedText)</div>

                <div class="col-lg-2">@Html.DisplayNameFor(m => m.Value)</div>
                <div class="col-lg-10">@Html.DisplayFor(m => m.Value)</div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink(Resources.Global.Edit, "Edit", new { id = Model.MaterialId }) |
    @Html.ActionLink(Resources.Global.BackToList, "Index")
</div>
