@using Opticar.Models.Optics
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Optičar</a>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new object { }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", new object { }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new object { }, new { @class = "nav-link" })</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="admin">Admin deo <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="admin">
                            @Html.ActionLink("Proizvodjaci", "Index", "Manufacturers", new object { }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Precnik", "Index", "Diameters", new object { }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Tip Materijala", "Index", "MaterialTypes", new object { }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Materijali", "Index", "Materials", new object { }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Vreme dostave", "Index", "DeliveryTimes", new object { }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Slojevi", "Index", "Layers", new object { }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Tip sočiva", "Index", "LenseTypes", new object { }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Dizajn sočiva", "Index", "LenseDesigns", new object { }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                </ul>
                <form class="form-inline" role="search">
                    <input type="text" class="form-control mr-sm-2" placeholder="Search">
                    <button type="submit" class="btn btn-secondary my-2 my-sm-0">Trazi</button>
                </form>
                @Html.Partial("_LoginPartial")
            </div>

        </nav>

        <!--/.Navbar-->


        <div class="container body-content">
            @RenderBody()
        </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Optičar</p>
    </footer>
        @Scripts.Render("~/bundles/jquery")
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

</body>
</html>
